.form-title{
    margin-top: 20px;
    text-align: left;
    font-weight: 700;
}

.form-input{
    border: transparent 0 !important;
    border-radius: 0 !important;    
    border-bottom: 2px solid !important;
    
}


#signup{
    background: rgb(220, 220, 220);
    border: 0px;
    border-radius: 4px;
    padding: 10px 25px;
    margin: 10px 10px;
}

#signin{
    background:none;
    border: 0px;
    border-radius: 4px;
    padding: 10px 25px;
    margin: 10px 10px;
}

#signin:hover{
    color: #007bff;
}